
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LoginTemplate.cshtml";
}

@using (Html.BeginForm("Forget", "ForgetPass", FormMethod.Post))
{
    <!--============================================ titulo ============================================-->
    <span class="login100-form-title">
        Esqueceu sua senha?
    </span>

    <!--============================================ UserForm ============================================-->
    <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
        <input class="input100" type="text" name="User" placeholder="Usuario">
        <span class="focus-input100"></span>
        <span class="symbol-input100">
            <i class="fa fa-envelope" aria-hidden="true"></i>
        </span>
    </div>

    <!--============================================ PassForm ============================================-->
    <div class="wrap-input100 validate-input" data-validate="Password is required">
        <input class="input100" type="password" name="Pass" placeholder="Ultima Senha que se lembra">
        <span class="focus-input100"></span>
        <span class="symbol-input100">
            <i class="fa fa-lock" aria-hidden="true"></i>
        </span>
    </div>

    <div class="wrap-input100 validate-input" data-validate="Password is required">
        <input class="input100" type="password" name="Pass-Replic" placeholder="Repita a Ultima Senha">
        <span class="focus-input100"></span>
        <span class="symbol-input100">
            <i class="fa fa-lock" aria-hidden="true"></i>
        </span>
    </div>

    <!--============================================ SuporteBotton ============================================-->
    <div class="container-login100-form-btn">
        <button class="login100-form-btn">
            Suporte
        </button>
    </div>

    <!--============================================ Message ============================================-->
    <div class="text-center p-t-12">
        <a class="txt2">
            Ao Clicar em Suporte espere por Deus.
        </a>
    </div>

    <div class="text-center p-t-136"></div>
}