
Solution/.vs/PiggyFinc/v15/.suo
Solution/.vs/PiggyFinc/v15/.suo
Solution/PiggyFinc.UIWeb.Mvc/bin/PiggyFinc.UIWeb.Mvc.pdb
Solution/PiggyFinc.UIWeb.Mvc/bin/PiggyFinc.UIWeb.Mvc.dll
Solution/PiggyFinc.sln
Solution/.vs/PiggyFinc/v15/Server/sqlite3/storage.ide-wal
Solution/.vs/PiggyFinc/v15/Server/sqlite3/storage.ide-shm
Solution/.vs/PiggyFinc/v15/Server/sqlite3/storage.ide
Solution/.vs/PiggyFinc/v15/.suo
Solution/PiggyFinc.UIWeb.Mvc/bin/PiggyFinc.UIWeb.Mvc.pdb
Solution/PiggyFinc.UIWeb.Mvc/bin/PiggyFinc.UIWeb.Mvc.dll
Solution/PiggyFinc.sln
Solution/.vs/PiggyFinc/v15/Server/sqlite3/storage.ide-wal
Solution/.vs/PiggyFinc/v15/Server/sqlite3/storage.ide-shm
Solution/.vs/PiggyFinc/v15/Server/sqlite3/storage.ide
Solution/.vs/PiggyFinc/v15/.suo
Solution/PiggyFinc.UIWeb.Mvc/obj/Debug/PiggyFinc.UIWeb.Mvc.pdb
Solution/PiggyFinc.UIWeb.Mvc/obj/Debug/PiggyFinc.UIWeb.Mvc.dll
Solution/PiggyFinc.UIWeb.Mvc/obj/Debug/PiggyFinc.UIWeb.Mvc.csprojAssemblyReference.cache
Solution/PigHelpers/bin/Debug/PigHelpers.dll
Solution/PigHelpers/bin/Debug/PigHelpers.pdb
Solution/PigHelpers/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Solution/PigHelpers/obj/Debug/PigHelpers.csproj.CoreCompileInputs.cache
Solution/PigHelpers/obj/Debug/PigHelpers.csproj.FileListAbsolute.txt
Solution/PigHelpers/obj/Debug/PigHelpers.csprojAssemblyReference.cache
Solution/PigHelpers/obj/Debug/PigHelpers.dll
Solution/PigHelpers/obj/Debug/PigHelpers.pdb
Solution/PigHelpers/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Solution/PigHelpers/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Solution/PigHelpers/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Solution/PigHelpers/PigHelpers.csproj
Solution/PigHelpers/Properties/AssemblyInfo.cs
Solution/PigHelpers/TryCast.cs
Solution/.vs/PiggyFinc/v15/.suo
Solution/.vs/PiggyFinc/v15/.suo
Solution/.vs/PiggyFinc/v15/.suo
Solution/.vs/PiggyFinc/v15/.suo
Solution/.vs/PiggyFinc/v15/Server/sqlite3/storage.ide
Solution/.vs/PiggyFinc/v15/Server/sqlite3/storage.ide-shm
Solution/.vs/PiggyFinc/v15/Server/sqlite3/storage.ide-wal
Solution/PiggyFinc.UIWeb.Mvc/bin/PiggyFinc.UIWeb.Mvc.dll
Solution/PiggyFinc.UIWeb.Mvc/bin/PiggyFinc.UIWeb.Mvc.pdb
