@{
    int some = 5;
}

<!DOCTYPE html>
<html>
<head>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/part.css")">
    <!--===============================================================================================-->
</head>
<body>
    <div class="row">
        <!--=================================== Income Card =================================-->
        <div class="column">
            <div class="card-income" href='@Html.Action("Edit", "Home")'>
                <h3>R$ 1000.00</h3>
                <h8>Total de Entradas</h8>
                <p>Dinheiro Recebido</p>
            </div>
        </div>

        <!--=================================== Expense Card =================================-->
        <div class="column">
            <div class="card-expense" href='@Url.Action("Edit", "Home", "Expense")'>
                <h3>R$ 1000.00</h3>
                <h8>Total de Saidas</h8>
                <p>Dinheiro Gasto</p>
            </div>
        </div>

        <!--=================================== Total Card =================================-->
        <div class="column">
            <div class="card-total" href='@Url.Action("Edit", "Home", "Total")'>
                <h3>R$ 1000.00</h3>
                <h8>Total Geral</h8>
                <p>Resultado</p>
            </div>
        </div>

        <!--=================================== Scaffold income =================================-->
        <div class="column">
            <div class="scaffold">

                <p style="color: #2cb282">Ultimos Lançamentos</p>
                <br />
                <table>
                    @for (var i = 0; i < some; i++)
                    {
                        <tr>
                            <td>Consultoria UFG</td>
                            <td>R$ 100.00</td>
                        </tr>
                    }
                </table>
            </div>
        </div>

        <!--=================================== Scaffold Expense =================================-->
        <div class="column">
            <div class="scaffold">

                <p style="color: #fc560c">Ultimos Lançamentos</p>
                <br />
                <table>
                    @for (var i = 0; i < some; i++)
                    {
                        <tr>
                            <td>Consultoria UFG</td>
                            <td>R$ 100.00</td>
                        </tr>
                    }
                </table>
            </div>
        </div>

        <!--=================================== Scaffold Total =================================-->
        <div class="column">
            <div class="scaffold">

                <p style="color: #0070c0">Ultimos Lançamentos</p>
                <br />
                <table>
                    @for (var i = 0; i < some; i++)
                    {
                        <tr>
                            <td>Consultoria UFG</td>
                            <td>R$ 100.00</td>
                        </tr>
                    }
                </table>
            </div>
        </div>

    </div>
</body>
</html>
