@{
    int some = 5;
}

<!DOCTYPE html>
<html>
<head>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/part.css")">
    <!--===============================================================================================-->
</head>
<body>
    <div class="row">
        <!--=================================== Top Card =================================-->
        <div class="column">
            <div class="card-income">
                <h3>R$ 1000.00</h3>
                <h8>Total de Entradas</h8>
                <p>Dinheiro Recebido</p>
            </div>
        </div>

        <!--=================================== Scaffold =================================-->
        <div class="column">
            <div class="scaffold">
                <p style="color: #2cb282">Ultimos Lançamentos</p>
                <br />
                <table>
                    @for (var i = 0; i < some; i++)
                    {
                        <tr>
                            <td>Consultoria UFG</td>
                            <td>R$ 100.00</td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</body>
</html>
